
<div>
	<ul>
		<li ng-repeat="post in feed.items" class="feed-item">
			<div class="feed-item-img">
				<a href="{{post.link | toInternalLink:tag.text}}">
					<img src="{{post.media.m}}">
				</a>
			</div>
			<div class="feed-item-text">
				<a class="title" href="{{post.link | toInternalLink:tag.text}}">
					<h2 class="truncate">
						{{post.title | handleUntitled}}
					</h2>
				</a>
				<a href="http://www.flickr.com/people/{{post.author_id}}/" class="view-author">{{post.author | extractAuthor}}</a>
				<span class="published">Published: {{post.published | parseDate}}</span>
				<a href="{{post.link}}" class="view-flickr">View on flickr</a>
			</div>
		</li>
	</ul>
</div>