<div class="post-container">
	<div class="post-title">
		<h2>
			<a class="title" href="{{post.link}}">{{post.title | handleUntitled}}</a>
		</h2>
		<div class="back-arrow" ng-click="back()">Return</div>
	</div>
	<p>
		<a href="http://www.flickr.com/people/{{post.author_id}}/">
			{{post.author | extractAuthor}}</a>
		&emsp;|&emsp;Published: {{post.published | parseDate}} 
	</p>
	<div class="post-content">
		<div class="post-img">
			<img src="{{post.media.m}}">
		</div>
		<div class="post-text">
			<div ng-bind-html="description"></div>
			<p>Tags: <a ng-repeat="tag in post.tags | split:' '" href="http://www.flickr.com/photos/tags/{{tag}}/" class="tag">{{tag}} </a></p>
		</div>
	</div>
</div>
