
<div>
	<ul>
		<li ng-repeat="post in feed.items" class="feed-item">
			<div class="feed-item-img">
				<a href="{{post.link | toInternalLink}}">
					<img src="{{post.media.m}}">
				</a>
			</div>
			<div class="feed-item-text">
				<a href="{{post.link | toInternalLink}}">
					<h2 class="truncate">
						{{post.title | handleUntitled}}
					</h2>
				</a>
				<p>	<a href="http://www.flickr.com/people/{{post.author_id}}/">{{post.author | extractAuthor}}</a>
					 	Published: {{post.published | date:"d/M/yyyy 'at' h:mm"}} 
					<a href="{{post.link}}">View on flickr</a>
				</p>
			</div>
		</li>
	</ul>
</div>